$color-white: #fff;

$color-gray: #f5f5f5;
$color-gray-hover: #e6e6e6;

$color-gray2: #777;
$color-gray2-hover: #656565;

$color-black: #1c1c1c;
$color-black-hover: #000;

$color-yellow: #e6ac27;
$color-yellow-hover: #d99c11;

$font-serif: 'PT Serif', sans-serif;
$font-sans: 'PT Sans', sans;
$font-italic: 'Italic';
